<footer class="page-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="footer-logo">
          {% assign logo = 'footer-logo.png' | asset_url %}
          {% image, src: logo %}
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-payment-methods">
          <p class="title">Formas de Pagamento</p>
          {% assign moip_logo = 'footer-moip-logo.png' | asset_url %}
          {% image, src: moip_logo %}
          <p>Pague pelo Moip. Opções: boleto, débito online e cartão de crédito em até 12 vezes.</p>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-social-networks">
          <p class="title">Nossas Redes Sociais</p>
          <ul>
            {% if current_school.facebook.size > 1 %}
              <li><a href="https://facebook.com/{{ current_school.facebook }}" target="_blank"
                     class="img-icon img-icon-facebook"></a></li>
            {% endif %}
            {% if current_school.instagram.size > 1 %}
              <li><a href="https://instagram.com/{{ current_school.instagram }}" target="_blank"
                     class="img-icon img-icon-instagram"></a></li>
            {% endif %}
            {% if current_school.twitter.size > 1 %}
              <li><a href="https://twitter.com/{{ current_school.twitter }}" target="_blank"
                     class="img-icon img-icon-twitter"></a></li>
            {% endif %}
          </ul>
        </div>
      </div>
      <div class="col-md-2">
        <div class="footer-links">
          <ul>
            <li><a href="/pages/institucional">Institucional</a></li>
            <li><a href="/products">Cursos</a></li>
            <li><a href="/pages/parceiros">Parceiros</a></li>
            <li><a href="/pages/contato">Contato</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="footer-newsletter">
          <p class="title">Inscreva-se e receba notícias e novidades!</p>
          <form action="http://d-app.uolhost.uol.com.br/integracao" method="post">
            <!-- Config -->
            <input type="hidden" name="CON_ID" value="76402.60e599277bca61cf50973ee5450382c5">
            <!--<input type="hidden" name="DESTINO" value="https://galdino-consultoria.myedools.com/pages/email-cadastrado">-->
            <input type="hidden" name="GRUPOS_CADASTRAR" value="">
            <input type="hidden" name="GRUPOS_DESCADASTRAR" value="">
            <input type="hidden" name="SMT_RECEBER" value="1">
            <!-- End Config -->

            <input type="email" class="form-control" placeholder="Email" name="SMT_email">
            <button type="submit" class="btn btn-outline-secondary btn-sm" name="submit">Cadastrar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</footer>
