.img-icon {
  display: inline-block;
  overflow: hidden;
  background-repeat: no-repeat;
}

.img-icon-cart {
  width: 42px;
  height: 42px;
  background-position: -0 -0;
}

.img-icon-facebook {
  width: 42px;
  height: 42px;
  background-position: -42px -0;
}

.img-icon-instagram {
  width: 42px;
  height: 42px;
  background-position: -126px -0;
}

.img-icon-twitter {
  width: 42px;
  height: 42px;
  background-position: -84px -0;
}

.img-icon-menu {
  width: 42px;
  height: 42px;
  background-position: -168px -0;
}

.img-icon-user {
  width: 42px;
  height: 42px;
  background-position: -210px -0;
}
