<div class="page contact-success-page">
  <div class="container">
    <h1>Contato realizado com sucesso!</h1>
    <div class="text-center">
      <a href="/pages/contact" class="btn btn-default">Voltar</a>
    </div>
  </div>
</div>
