<div class="page institucional-page">
  <div class="institucional-slider">
    {% include 'slider' %}
  </div>

  <div class="container page-container">
    <div class="page-content">
      <div class="text">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>
