.owl-carousel {
  margin-bottom: $padding-large-vertical * 7;

  .owl-nav {
    width: 100%;

    .owl-prev,
    .owl-next {
      position: absolute;
      top: 50%;
      left: 0;
      margin: -45px 0 0;
      padding: 0;
      background-color: transparent;
      color: $light;
      font-size: 28px;
      transition: transform .15s ease-in-out;

      &:hover {
        background-color: transparent;
        transform: scale(1.2);
      }
    }

    .owl-prev {
      right: auto;
      left: 50px;
    }

    .owl-next {
      right: 50px;
      left: auto;
    }
  }

  .owl-dots {
    margin-top: 24px;
    line-height: 1;

    .owl-dot {
      $dot-color: darken($border-color-base, 10%);
      $dot-color-hover: darken($border-color-base, 15%);
      $dot-color-active: darken($border-color-base, 45%);

      span {
        margin: 0 2px;
        width: 8px;
        height: 8px;
        border: 1px solid $dot-color;
        background-color: transparent;
      }

      &:hover {
        span {
          border-color: $dot-color-hover;
          background-color: $dot-color-hover;
        }
      }

      &.active {
        span {
          border-color: $dot-color-active;
          background-color: $dot-color-active;
        }
      }
    }
  }
}
