.page-footer {
  @include breakpoint(md) {
    text-align: left;
  }

  background-color: $body-bg;
  color: $text-color;
  text-align: center;
  font-weight: 300;
  font-size: 14px;

  > .container {
    padding-top: $padding-large-vertical * 6;
    padding-bottom: $padding-large-vertical * 6;
    border-top: 1px solid $border-color-base;
  }

  .footer-logo {
    @include breakpoint(md) {
      margin-bottom: 0;
    }

    margin-bottom: 50px;
  }

  .footer-payment-methods {
    @include breakpoint(md) {
      margin-bottom: 0;
    }

    margin-bottom: 50px;

    .title {
      margin-bottom: 0;
    }
  }

  .footer-social-networks {
    @include breakpoint(md) {
      margin-bottom: 0;
    }

    margin-bottom: 50px;

    ul {
      padding: 0;
      list-style: none;

      li {
        display: inline-block;
      }
    }
  }

  .footer-links {
    @include breakpoint(md) {
      margin-bottom: 0;
    }

    margin-bottom: 50px;

    ul {
      padding: 0;
      list-style: none;

      li {
        a {
          color: $text-color;
        }
      }
    }
  }

  .footer-newsletter {
    .title {
      margin-bottom: 18px;
    }

    .form-control {
      @include box-shadow(none);

      padding-top: 5px;
      padding-bottom: 5px;
      height: 30px;
      border: none;
      background-color: darken($body-bg, 8%);
      font-weight: 600;
      font-size: 14px;
    }

    .btn {
      margin-top: 20px;
      padding: 7px 16px;
      border-radius: 15px;
      text-transform: none;
      font-weight: 600;
      font-size: 14px;
    }
  }
}
