html.turbolinks-progress-bar::before {
  background-color: $brand-primary;
}

header.navbar {
  @include breakpoint($grid-float-breakpoint) {
    min-height: 120px;
  }
  @include box-shadow(none);

  margin: 0;
  min-height: 62px;
  border: none;
  background-color: $light;

  .container {
    border-bottom: 1px solid $border-color-base;
  }

  .navbar-brand {
    @include breakpoint($grid-float-breakpoint) {
      padding: 32px 15px;
      height: 120px;
    }

    display: block;
    padding: 10px 0;
    height: 62px;
    color: $text-color !important;
    text-transform: uppercase !important;
    opacity: 1;

    img {
      @include breakpoint($grid-float-breakpoint) {
        width: auto;
        height: auto;
      }

      width: auto;
      height: 100%;
      vertical-align: middle;
    }
  }

  .navbar-toggle {
    margin: 0;
    background-color: transparent;
    transition: opacity .2s ease-in-out;

    &:hover,
    &:active,
    &:focus {
      background-color: transparent;
      opacity: .6;
    }
  }

  .navbar-nav {
    @include breakpoint($grid-float-breakpoint) {
      text-align: left;
    }

    text-align: center;

    a {
      font-weight: normal;
      font-size: 18px;

      i {
        margin-right: 2px;
      }
    }

    > li {
      @include breakpoint($grid-float-breakpoint) {
        border-bottom: 0;
      }

      position: relative;
      border-bottom: 1px solid $border-color-base;

      > a {
        padding-right: 17px !important;
        padding-left: 17px !important;
      }

      &.list-item-icon {
        @include breakpoint($grid-float-breakpoint) {
          &:last-child {
            a {
              padding-right: 0 !important;
            }
          }
        }

        a {
          @include breakpoint($grid-float-breakpoint) {
            padding: 39px 8px !important;
          }

          &:hover {
            opacity: .6;
          }

          i {
            margin: 0;
          }
        }
      }

      &.mobile {
        @include breakpoint($grid-float-breakpoint-max) {
          display: none;
        }
      }

      > .submenu {
        @include breakpoint($grid-float-breakpoint) {
          position: absolute;
          top: 120%;
          left: 0;
          visibility: hidden;
          margin: -5px 0 0;
          background-color: $light;
          box-shadow: 0 6px 30px -4px rgba(0, 0, 0, .4);
          opacity: 0;
          transition: .25s ease-in-out;
          pointer-events: none;
        }

        margin-bottom: 20px;
        padding: 0;
        list-style: none;

        > li {
          @include breakpoint($grid-float-breakpoint) {
            border-bottom: 1px solid $border-color-base;

            &:last-child {
              border-bottom: none;
            }
          }

          > a {
            @include breakpoint($grid-float-breakpoint) {
              &:hover {
                background-color: $brand-secondary;
              }
            }

            display: block;
            padding: 10px 8px;
            min-width: 190px;
            color: $navbar-default-link-color;
            text-decoration: none;

            &:hover {
              font-weight: bold;
            }
          }
        }
      }

      &:hover {
        > .submenu {
          top: 100%;
          visibility: visible;
          opacity: 1;
          pointer-events: all;
        }

        > a {
          font-weight: bold;
        }
      }
    }
  }

  .dropdown {
    @include breakpoint($grid-float-breakpoint-max) {
      display: inline-block;
    }

    display: none;

    .dropdown-toggle {
      @include breakpoint($grid-float-breakpoint) {
        display: block;
        padding: 0 !important;

        .avatar {
          margin-top: 38px;
          margin-bottom: 38px;
        }
      }

      display: none;
      padding: $padding-large-vertical * 2 !important;
      padding-right: 15px !important;
      padding-left: 35px !important;
      line-height: 120px;

      .avatar {
        float: right;
        margin-right: 0;
        margin-left: 12px;
      }

      .icon {
        font-size: 12px;
      }
    }

    .dropdown-menu {
      @include translate(0, 0);
      @include transition(.2s ease);
      @include breakpoint($grid-float-breakpoint-max) {
        display: block;
        visibility: hidden;
        max-width: 220px;
        border-radius: $border-radius-base + 2;
        opacity: 0;
        pointer-events: none;

        &:before {
          $size: 18px;

          top: - ($size / 2) - 1;
          right: 69px;
          display: block;
          width: $size;
          height: $size;
          border-top-left-radius: $border-radius-base + 2;
          background-color: $panel-default-heading-bg;
        }
      }

      top: 150%;
      right: -15px;
      padding-top: 0;

      li {
        a {
          padding: 13px 20px;
          font-weight: normal;
          line-height: 1;

          &:hover {
            font-weight: 600;
          }

          i {
            margin-right: 5px;
          }
        }

        &.user-header-list-item {
          @include breakpoint($grid-float-breakpoint-max) {
            display: block;
          }

          display: none;
        }

        .user-header {
          @include clearfix;

          padding: 8px 15px;
          border-bottom: 1px solid $border-color-base;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          background-color: $panel-default-heading-bg;
          vertical-align: middle;
          line-height: 2.3;

          .avatar {
            @include box-shadow(none);

            margin: 0;
            width: 38px;
            height: 38px;
          }

          .caption {
            display: inline-block;
            margin-left: 10px;
            max-width: 110px;
            height: auto;
            vertical-align: middle;
            font-size: 14px;

            .logged-user,
            .logged-user-email {
              display: block;
              line-height: 1;
            }

            .logged-user {
              @include ellipsis();

              margin-bottom: 3px;
              max-width: 110px;
              color: darken($text-color, 5%);
            }

            .logged-user-email {
              @include ellipsis();

              color: $text-muted;
              font-size: 12px;
            }
          }
        }
      }
    }

    &:hover,
    &.open {
      .avatar {
        @include box-shadow(0 0 0 3px $brand-primary);
      }
    }

    &.open {
      @include breakpoint($grid-float-breakpoint-max) {
        .dropdown-menu {
          top: 90%;
          visibility: visible;
          opacity: 1;
          pointer-events: all;
        }
      }
    }
  }
}
