.page {
  @include breakpoint(md) {
    min-height: 640px;
  }

  background-color: $body-bg;

  .page-container {
    @include breakpoint(md) {
      padding-bottom: $padding-large-vertical * 8;
    }
  }

  .page-header {
    margin: 0;
    margin-bottom: $padding-large-vertical * 4;
    padding-top: $padding-large-vertical * 2;
    padding-bottom: $padding-large-vertical * 4;
    border-bottom: 1px solid $border-color-base;
    background-color: $light;

    .title {
      margin-top: 0;
      margin-bottom: $padding-large-vertical * 4;
      line-height: 1;
    }

    .course-image {
      width: 100%;

      img {
        width: 100%;
        height: auto;
      }
    }

    .control-back {
      margin-bottom: $padding-large-vertical * 2;
      padding-top: 0;
    }
  }

  .page-cover {
    @include breakpoint(sm) {
      margin: 0 auto 50px;
    }

    margin: 0 auto 20px;
    max-width: 1440px;
    width: 100%;

    img {
      width: 100%;
      height: auto;
    }
  }

  .page-content {
    h1,
    h2,
    h3 {
      @include breakpoint(sm) {
        text-align: left;
      }

      color: $text-color;
      text-align: center;
    }

    h2 {
      @include breakpoint(sm) {
        font-size: $font-size-h2;
      }

      font-weight: 400;
      font-size: 18px;
    }

    p {
      font-weight: 300;
      font-size: 14px;
      line-height: 2;
    }

    .text {
      p {
        @include breakpoint(sm) {
          text-align: left;
        }

        margin-bottom: 38px;
        text-align: justify;
      }
    }
  }
}

[data-is-bullet-footer] {
  @include breakpoint(sm) {
    display: block;
  }

  display: none;
}
