.product-list {
  padding-bottom: $padding-large-vertical * 10;
  background-color: $body-bg;
}

.product-card {
  @include breakpoint(sm) {
    height: 470px;
  }
  @include breakpoint(md) {
    height: 542px;
  }
  @include breakpoint(lg) {
    height: 470px;
  }
  @extend .panel;
  @extend .panel-default;

  position: relative;
  margin: 0 auto 50px;
  padding: 0;
  border-color: $border-color-base;
  background-color: $light;

  .logo {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 230px;

    img {
      @include translate(-50%, -50%);

      position: absolute;
      top: 50%;
      left: 50%;
      width: auto;
      height: 100%;
    }
  }

  .caption {
    @include breakpoint(sm) {
      height: 110px;
    }

    display: flex;
    padding: 0 $padding-large-horizontal + 5;

    align-items: center;
    justify-content: center;

    .title {
      color: $text-color;
      text-align: center;
      text-decoration: none;
      font-size: 20px;
    }
  }

  .price {
    display: block;
    color: $brand-primary;
    vertical-align: middle;
    text-align: center;
    line-height: 1.3;

    .final-price {
      display: block;
      font-weight: bold;
      font-size: 28px;
    }

    .base-price {
      display: block;
      font-size: 12px;
      line-height: 1;
    }

    .full-frice {
      display: block;
      margin-top: 6px;
      font-weight: 300;
    }
  }

  .call-to-action {
    @include translate(-50%, -50%);

    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1000;
    float: right;
    max-width: 198px;
    width: 100%;

    .dropdown-menu {
      right: 0;
      left: auto;
    }
  }
}
