.featured {
  .cover {
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  .product-info {
    margin: 0 auto;
    max-width: 508px;
  }

  .title {
    @include breakpoint(md) {
      margin: 0 0 40px;
      text-align: left;
      font-size: 38px;
    }

    margin: 20px 0 40px;
    color: $brand-primary;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
  }

  .subtitle {
    @include breakpoint(md) {
      text-align: left;
      font-size: 28px;
    }

    margin: 0 0 40px;
    color: $brand-primary;
    text-align: center;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
  }

  .prices {
    .col {
      @include breakpoint(md) {
        text-align: left;
      }

      text-align: center;
    }

    .price-box {
      position: relative;
      color: $brand-primary;

      &:after {
        @include breakpoint(md) {
          right: 0;
          margin-top: -64px;
          height: 104px;
        }

        position: absolute;
        top: 50%;
        right: -10px;
        display: block;
        margin-top: -42px;
        width: 1px;
        height: 70px;
        background-color: $border-color-base;
        content: '';
      }

      .old-price {
        @include breakpoint(md) {
          font-size: 18px;
        }

        font-weight: 300;
        font-size: 14px;
        line-height: 1.2;

        .number {
          position: relative;
          display: inline-block;

          &:after {
            @include breakpoint(md) {
              top: -5px;
              left: 10px;
            }

            position: absolute;
            top: -8px;
            left: 0;
            display: block;
            width: 75px;
            height: 32px;
            content: '';
          }
        }

        p {
          margin: 0;
        }
      }

      .price {
        @include breakpoint(md) {
          font-size: 18px;
        }

        white-space: nowrap;
        font-size: 14px;

        .number {
          @include breakpoint(md) {
            font-size: 64px;
          }

          font-weight: bold;
          font-size: 36px;
        }

        .decimal {
          @include breakpoint(md) {
            font-size: 36px;
          }

          font-weight: bold;
          font-size: 20px;
        }
      }
    }

    .installment-box {
      @include breakpoint(md) {
        font-size: 18px;
      }

      color: $brand-primary;
      font-size: 14px;

      p {
        margin: 0;
        line-height: 1.16;
      }

      .times {
        white-space: nowrap;
        font-weight: 300;

        .number {
          @include breakpoint(md) {
            font-size: 48px;
          }

          font-size: 32px;
        }

        .times {
          @include breakpoint(md) {
            font-size: 42px;
          }

          font-size: 30px;
        }
      }

      .price {
        white-space: nowrap;

        .number {
          @include breakpoint(md) {
            font-size: 64px;
          }

          font-weight: bold;
          font-size: 36px;
        }

        .decimal {
          @include breakpoint(md) {
            font-size: 36px;
          }

          font-weight: bold;
          font-size: 20px;
        }
      }
    }
  }

  .cta {
    @include breakpoint(md) {
      font-size: 26px;
    }

    display: block;
    margin-top: 50px;
    width: 100%;
    color: $brand-primary;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
  }

  .topics {
    @include breakpoint(md) {
      margin: 48px auto 0;
      padding: 108px 0 60px;
      text-align: left;
    }

    position: relative;
    margin: 10px auto 0;
    padding: 45px 0 60px;
    width: 100%;
    background-color: $brand-primary;
    text-align: center;

    .cta-btn {
      @include breakpoint(md) {
        top: -23px;
        bottom: auto;
        left: 50%;
      }
      @include translate(-50%, 0);

      position: absolute;
      bottom: -23px;
      left: 50%;
      padding: 12px 28px;
      border-radius: 23px;
      font-size: 20px;
    }

    .list-container {
      max-width: 890px;

      ul {
        padding: 0;
        list-style: none;

        li {
          @include breakpoint(md) {
            font-size: 18px;
          }

          margin-bottom: 16px;
          color: rgba($light, .9);
          font-size: 14px;

          .caret {
            @include breakpoint(md) {
              display: inline-block;
            }
            @include rotate(-90deg);

            display: none;
            margin-right: 15px;
            border-width: 6px;
          }
        }
      }
    }

    .bottom-text {
      @include breakpoint(md) {
        margin-top: 58px;
        font-size: 28px;
      }

      margin-top: 30px;
      margin-bottom: 0;
      color: $light;
      text-align: center;
      font-weight: bold;
      font-size: 16px;
    }
  }
}
