.home-page {
  padding: 0;

  .home-categories {
    .home-category {
      .product-list {
        padding-bottom: $padding-base-vertical * 4;
      }

      .category-actions {
        margin-bottom: $padding-large-vertical * 8;
      }
    }
  }
}
