.home-page {
  padding: 0;

  .home-slider {
    margin: 0 auto;
    max-width: 1440px;
    width: 100%;
  }

  .home-featured {
    margin: 0 auto;
    max-width: 1440px;
  }

  .home-products {
    > .title {
      margin: 0;
      padding-top: 60px;
      padding-bottom: 60px;
      color: $text-color;
      text-align: center;
      font-weight: 400;
      font-size: 28px;
    }
  }

  .home-categories {
    .home-category {
      .product-list {
        padding-bottom: $padding-base-vertical * 4;
      }

      .category-actions {
        margin-bottom: $padding-large-vertical * 8;
      }
    }
  }
}
