.product-page {
  .navbar {
    border-bottom: none;
  }

  .product-header {
    margin-bottom: $padding-large-vertical * 4;
    padding: $padding-large-vertical * 12 0;
    padding-bottom: $padding-large-vertical * 8;

    .image {
      margin-bottom: $padding-large-vertical * 2;
      text-align: right;

      img {
        display: inline-block;
        width: 100%;
        height: auto;
      }
    }

    .product-info {
      padding: 0 30px;

      .title {
        margin-bottom: 0;
        color: $brand-primary;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 34px;
        line-height: 1.3;
      }
    }
  }

  .enroll {
    .price {
      margin-bottom: $padding-large-vertical;
      color: $brand-primary;
      font-weight: 300;
      font-size: 22px;

      p {
        margin: 0;
      }

      .number {
        white-space: nowrap;
      }

      .installments {
        line-height: 1.2;

        .times {
          font-weight: 600;
          font-size: 36px;
        }

        .value {
          font-weight: 600;
          font-size: 78px;
        }

        .decimals {
          font-weight: 600;
          font-size: 48px;
        }
      }

      .full-price {
        font-size: 18px;

        .base-number {
          position: relative;
          display: inline-block;

          &:after {
            @include breakpoint(md) {
              top: -2px;
              left: 15px;
            }

            position: absolute;
            top: -8px;
            left: 0;
            display: block;
            width: 75px;
            height: 32px;
            content: '';
          }
        }

        .final-number {
          font-weight: 600;
          font-size: 32px;
        }
      }
    }

    .btn-group {
      margin-top: 30px;

      .btn {
        padding-right: 30px;
        padding-left: 30px;
        border-radius: 25px;
        font-size: 20px;
      }
    }
  }

  .product-teachers {
    .teachers-list {
      .teacher-item {
        margin-bottom: $padding-large-vertical * 4;
        padding: 0 $padding-large-horizontal;

        .avatar {
          margin-top: 0;
          margin-bottom: 0;
        }

        .title {
          margin-top: 5px;
          margin-bottom: 5px;
        }

        .description {
          margin-top: $padding-large-vertical * 2;
        }
      }
    }
  }

  .product-content {
    margin-top: $padding-large-vertical * 8;
    margin-bottom: $padding-large-vertical * 8;

    .title {
      margin-top: 0;
      margin-bottom: $padding-large-vertical * 4;
      line-height: 1;
    }
  }

  .jumbotron {
    background-color: $light;

    h2 {
      margin: 0;
    }
  }
}

@import 'product/list';
@import 'product/path-content';
@import 'product/course-content';
