<div class="product-page page">
  <header class="product-header page-header">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="image">
            {% if product.video_cover %}
              {% media_player media: product.video_cover %}
              {% elsif product.logo %}
              {% image, src: product.logo, alt: product.title %}
            {% else %}
              {% assign placeholder = 'missing-product-logo.png' | asset_url %}
              {% image, src: placeholder, alt: product.title %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="product-info">
            {% include 'product/enroll' %}
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container page-container">
    <div class="row">
      <div class="col-md-6 col-left">
        <div class="page-content">
          {% if product.description %}
            <div class="product-description text">
              {{ product.description }}
            </div>
          {% endif %}
        </div>
      </div>
      <div class="col-md-6 col-right">
        {% include 'product/teachers' %}
        {% include 'product/product-topics' %}

        <div class="panel panel-default product-payment-methods">
          <div class="panel-heading">Formas de Pagamento</div>
          <div class="panel-body">
            <p>Cartão de Crédito</p>
            <p>Débito Online</p>
            <p>Boleto Bancário</p>

            <p class="payment-logos">
              <span class="payment-logo payment-logo-visa"></span>
              <span class="payment-logo payment-logo-master"></span>
              <span class="payment-logo payment-logo-hiper"></span>
              <span class="payment-logo payment-logo-elo"></span>
              <span class="payment-logo payment-logo-card1"></span>
              <span class="payment-logo payment-logo-amex"></span>
              <span class="payment-logo payment-logo-itau"></span>
              <span class="payment-logo payment-logo-santander"></span>
              <span class="payment-logo payment-logo-bb"></span>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="product-cta">
      <h2>{{ settings.view.product.cta_title }}</h2>
      {% include 'product/buy-button', product: product %}
    </div>
  </div>
</div>
