<div class="product-topics">
  {% for topic in product.topics %}
    <div class="topic panel panel-default">
      <div class="panel-heading">
        <div class="title">{{ topic.title }}</div>
      </div>
      <div class="panel-body">
        <div class="description page-content">
          <p>{{ topic.description }}</p>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
