{% if product.class_teachers.size > 0 %}
  <section class="product-teachers panel panel-default">

    <div class="panel-heading">
      <span class="title">{{ 'product.teachers.about' | t }}</span>
    </div>

    <div class="panel-body">
      <div class="teachers-list">
        {% for teacher in product.class_teachers %}
          <div class="teacher-item">
            <div class="row">
              <div class="col-xs-12">
                <h4 class="title">{{ teacher.full_name }}</h4>
              </div>

              <div class="col-xs-12">
                <div class="description page-content" role="readmore" data-collapsed-height="100">
                  <p>{{ teacher.about }}</p>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>
{% endif %}
